<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upmc.lpweb.myScore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_soccer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_soccer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.upmc.lpweb.myScore.listCompetitionsTeams.listCompetitionsTeams"
            android:label="@string/title_activity_list_competition_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.upmc.lpweb.myScore.noConnection.noConnection"
            android:label="@string/title_activity_no_connection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.upmc.lpweb.myScore.listTeams.listTeams"
            android:label="@string/title_activity_list_teams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.upmc.lpweb.myScore.teamDetails.teamDetails"
            android:label="@string/title_activity_team_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.upmc.lpweb.myScore.fixturesList.fixturesList"
            android:label="@string/title_activity_fixtures_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.upmc.lpweb.myScore.SplashScreen.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.upmc.lpweb.myScore.settings.settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.upmc.lpweb.myScore.competitionDetails.CompetitionDetails"
            android:label="@string/title_activity_competition_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.upmc.lpweb.myScore.listCompetitionsDetails.listCompetitionsDetails"
            android:label="@string/title_activity_list_competition_details"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>